@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import "vars";
@import "inuit.css/inuit";

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @extend .cf;
}

@include media-query(desk){
  .container {
    max-width: 1200px;
  }
}
