@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
@import "vars";
@import "inuit.css/inuit";

html {
  background-color: #faf2db;
}

a {
  text-decoration: none;
  color: #08c;
  &:hover {
    color: #005580;
    text-decoration: underline;
  }
}

.container {
  margin: 30px auto;
  padding-left: 20px;
  padding-right: 20px;
  @extend .cf;
  @include media-query(desk){
    max-width: 1200px;
  }
}

.title {
  @extend .text--center;
}

.splash {
  display: block;
  background-color: #feea00;
  padding: 20px;
  color: #000;
  width: 50%;
  margin: 40px auto 100px auto;
  border: 3px solid #000;
  text-align: center;
  text-shadow: none;

  @include vendor(box-shadow, 10px 10px 1px rgba(0,0,0,0.4));
  @include vendor(transform, rotate(358deg));
  @include vendor(transition, all .2s ease-in-out);
  &:hover {
    @include vendor(transform, rotate(355deg) scale(1.1));
    text-decoration: none;
    color: #000;
  }
}

.vignette {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  @extend .text--center;

  img {
    border: 3px solid #000;
  }
}

.content {
  border: 3px solid #000;
  text-shadow: 1px 1px #fff;
  background-color: #eee;
  color: #333;

  @include vendor(border-radius, 4px);
  @include vendor(box-shadow, 10px 10px 1px rgba(0,0,0,0.4));
  @extend .push;
  @extend .soft;

  h1 {
    background-color: #feea00;
    padding: 20px;
    color: #000;
    width: 40%;
    min-width: 7em;
    margin: 30px auto;
    border: 3px solid #000;
    text-align: center;
    text-shadow: none;
    font-size: 150%;

    @include vendor(box-shadow, 3px 3px 1px rgba(0,0,0,0.4));
    @include vendor(transform, rotate(1deg));
  }

  h1.alt {
    @include vendor(transform, rotate(-0.7deg));
  }

  h2 {
    font-size: 120%;
  }
}


