---
title: Olga y Enrique se casan
---

%p.title
  %a(href="/mas")
    = image_tag "capitantrueno.png"

.grid
  .grid__item.one-third.palm-one-whole>
    %a.vignette(href="/mas")
      = image_tag "capitantrueno.png"
  .grid__item.one-third.palm-one-whole>
    %a.vignette(href="/mas")
      = image_tag "capitantrueno.png"
  .grid__item.one-third.palm-one-whole>
    %a.vignette(href="/mas")
      = image_tag "capitantrueno.png"

%p
  %a.splash(href="/mas") Leer más
