---
title: Olga y Enrique se casan
---

<p class="title">
  <% link_to "/mas" do %>
    <%= image_tag "capitantrueno.png" %>
  <% end %>
</p>
<p>
<%= link_to "Leer más", "/mas", :class => 'narrator' %>
</p>
