---
title: Olga y Enrique se casan - Detalles
---

%section.content
  :markdown
    # Olga y Enrique

    Olga y Enrique se conocieron en Madrid. Él le invitó a tomar tarta, y luego visitaron
    el Templo de Debod. Esa noche hacía mucho frío, aunque ella disimuló y no se quejó demasiado.

    A Enrique le gustó la dulzura de Olga. A ella le gustó su sentido del humor.

    Siguieron viéndose, y descubrieron más cosas que les gustaban al uno del otro. Acabaron
    enamorándose, y decidieron compartir su primer verano juntos viajando a tierras exóticas.
    Desde entonces han seguido viajando juntos cada vez que han podido.

    En uno de sus viajes, sentados al lado de un río al atardecer, Enrique le pidió a Olga que se
    casara con él. Ella aceptó. Y convirtió una tarde maravillosa en sensacional.

%section.content
  :markdown
    # El Plan

    Olga y Enrique estarán en Asturias una semana antes preparando todo y visitando Asturias. Todos
    están invitados a participar, aunque ninguna actividad es obligatoria (nos gustaría que el Sábado
    viniérais a la boda, eso sí).

    ## Lunes 15 de Julio

    * Olga y Enrique llegan a Asturias

    ## Martes 16 de Julio

    * 10:30 ~ 14:00 Visita a los Lagos
    * 14:30 - 16:00 Almuerzo en xxx
    * 16:30 - 19:00 Visita a la ciudad de xxx

    ## Miércoles 17 de Julio

    * 10:30 ~ 17:00 Visita a los Picos de Europa
    * 17:30 - 18:

    ## Jueves 18 de Julio

    * 9:30 ~ 16:00 Bajada del Sella

    La bajada del Sella es una actividad completamente opcional. Es una actividad apta para todos
    públicos (es obligatorio saber nadar). Existen tres zonas de salida a los 7, 10 y 15 km de salida,
    para que cada uno se pueda adaptar a sus fuerzas. El recorrido completo tarda unas 4 horas (mas una
    de preparación en tierra)

    ## Viernes 19 de Julio

    Olga y Enrique se pasarán el día ultimando los detalles de la boda. Día libre para disfrutar de
    las maravillas de Asturias.

    ## Sábado 20 de Julio

    * 19:30 Ceremonia Civil
    * 20:30 Cócktail
    * 21:30 Comienzo de la Cena
    * 24:00 Se abre la pista de baile

    ## Domingo 21 de Julio

    * 03:00 Salida del Minibús hacia ...
    * 05:00 Salida del Minibús hacia ...



%section.content
  :markdown
    # Guía de Asturias

%section.content
  :markdown
    # Preguntas Frecuentes
