---
title: Olga y Enrique se casan - Detalles
---

%section.content

  %h1 Olga y Enrique

  :markdown

    Olga y Enrique se conocieron en Madrid. Él le invitó a tomar tarta, y luego visitaron
    el Templo de Debod. Esa noche hacía mucho frío, aunque ella disimuló y no se quejó demasiado.

    A Enrique le gustó la dulzura de Olga. A ella le gustó su sentido del humor.

    Siguieron viéndose, y descubrieron más cosas que les gustaban al uno del otro. Acabaron
    enamorándose, y decidieron compartir su primer verano juntos viajando a tierras exóticas.
    Desde entonces han seguido viajando juntos cada vez que han podido.

    En uno de sus viajes, sentados al lado de un río al atardecer, Enrique le pidió a Olga que se
    casara con él. Ella aceptó. Y una tarde maravillosa se convirtió en una noche sensacional.

%section.content

  %h1.alt Preguntas frecuentes

  :markdown

    ## ¿Cuándo y dónde es la Boda exactamente?

    El día es el *Sábado 20 de Julio, a las 19:30*.

    El sitio es el [Palacio de Cutre](http://www.palaciodecutre.com/).

    Está en el Concejo de Piloña. Coordenadas GPS: (43.377390, -5.276210) o (N 43º 22´ 38,60´´, W 5º 16´ 34,36´´), dependiendo de vuestro aparato.

    ## ¿Cómo llego allí en Coche?

    Las indicaciones para llegar (robadas de [la página web del sitio](http://www.palaciodecutre.com/localizacion)) son:

    * Tome la N-634 hasta el punto kilométrico 356 salida BORINES, COLUNGA.
    * Desvíese atravesando primeramente las vías del tren.
    * Cruzarán el río Piloña, encontrándose a 400 metros una desviación a la derecha con direccion a CERECEDA.
    * Sigan esta carretera unos 2 Kms hasta llegar a un alto llamado LA TRAPA, donde se encontrarán una indicación del Palacio que les desvía hacia la izquierda, llegando al Hotel pocos cientos de metros después.

    A no ser que paséis la noche en el Palacio o en los alrededores, os aconsejamos que vengáis en minibús. Si no, por favor designad un conductor por coche.

    ## ¿Cómo llego allí sin coche?

    No hay transporte público hasta el lugar, pero habilitaremos dos minibuses: Uno saldrá desde Cangas de Onís y otro desde Riosa.

    ## ¿A qué hora son los minibuses?

    Los minibuses saldrán de Riosa y Cangas de Onís a las 16:30 el sábado, y volverán del Palacio de Cutre a Riosa y Cangas de Onís a las 3:00.

    Solamente harán un camino de ida y uno de vuelta, así que por favor sed puntuales.

    ## ¿Cuándo debería llegar a Asturias?

    Puedes llegar el mismo Sábado, ya que la boda es por la tarde. Puedes venir unos días antes y visitar Asturias, que es una tierra muy interesante. Debajo
    te dejamos el plan provisional que tenemos pensado hacer nosotros. Eres libre de unirte a todas nuestras actividades, o solamente a algunas.

    ## ¿Dónde puedo alojarme en Asturias?

    El propio palacio de Cutre tiene 17 habitaciones. Lamentablemente, allí no caben todos los asistentes, y ya hemos reservado casi todas las habitaciones. Pero
    preguntadnos.

    La ciudad más cercana es Nava, que cuenta con algunos hoteles y hostales, pero es pequeña y no muy bien comunicada.

    La ciudad grande más cercana es Cangas de Onís, a unos 20km. Es un destino turístico, bien comunicado, y con un amplio rango de ofertas
    hosteleras. También es un muy buen centro de operaciones si decidís explorar Asturias. Pondremos un minibús desde allí el día de la boda.

    Otro minibús saldrá desde Riosa, porque muchos asistentes a la boda vendrán desde allí.

%section.content

  %h1 El plan

  :markdown

    Olga y Enrique estarán en Asturias una semana antes preparando todo y visitando Asturias. Todos
    están invitados a participar, aunque ninguna actividad es obligatoria (nos gustaría que el Sábado
    viniérais a la boda, eso sí).

    ## Sábado 13 de Julio

    * Enrique llega a Asturias

    ## Domingo 14 de Julio

    * Mañana: Subida al [Fuente De](http://www.picoseuropa.net/liebana/fuentede.php) (Pico de Europa)
    * Tarde: Visita a [Arenas de Cabrales](http://www.cabrales.org/) y comer por allí (no solamente hay queso, también hay trucha y salmón)

    ## Lunes 15 de Julio

    * Olga llega a Asturias
    * Mañana: Visita a [Covadonga](http://es.wikipedia.org/wiki/Covadonga)
    * Comida: Empanadas y tortillas en [los lagos de Covadonga](http://www.lagoscovadonga.com/), viendo el paisaje
    * Tarde: Visitar Cangas de Onís, y tomar alguna sidra para cenar.

    ## Martes 16 de Julio

    * Mañana: Visita a [Oviedo](http://www.oviedo.es/)
    * Tarde: Visita a [Gijón](http://www.gijon.es/)

    ## Miércoles 17 de Julio

    * Mañana: Visita a [Lastres](http://es.wikipedia.org/wiki/Lastres), [Colunga](http://es.wikipedia.org/wiki/Colunga) y [Villaviciosa](http://es.wikipedia.org/wiki/Colunga)
    * Tarde: xxxx [Mirador del Fito](http://descubrelugares.com/index.php/que-ver-en-asturias-mirador-del-fito/)

    ## Jueves 18 de Julio

    * Mañana: Bajada del Sella
    * Comida: Dependiendo de la bajada que hagamos, un picnic o restaurante en [Ribadesella](http://es.wikipedia.org/wiki/Ribadesella).
    * Tarde: Visitar Ribadesella y [Llanes](http://es.wikipedia.org/wiki/Llanes).

    La bajada del Sella es una actividad completamente opcional. Es una actividad apta para todos
    públicos (es obligatorio saber nadar). Existen tres zonas de salida a los 7, 10 y 15 km de salida,
    para que cada uno se pueda adaptar a sus fuerzas. El recorrido completo tarda unas 4 horas (mas una
    de preparación en tierra). Hay que llevar chanclas, bañador y ropa para cambiarse al final (hay
    duchas).

    Los que no quieran bajar el Sella pueden reunirse con nosotros para comer y pasar la tarde.

  .grid
    .grid__item.w34.portable-one-whole>
      .vignette
        = image_tag "sella1.png"
    .grid__item.w31.portable-one-whole>
      .vignette
        = image_tag "sella2.png"
    .grid__item.w34.portable-one-whole>
      .vignette
        = image_tag "sella3.png"

  :markdown
    ## Viernes 19 de Julio

    Olga y Enrique se pasarán el día ultimando los detalles de la boda. Día libre para disfrutar de
    las maravillas de Asturias (tenéis sugerencias más abajo).

    ## Sábado 20 de Julio

    * 19:30 Ceremonia Civil
    * 20:30 Cócktail
    * 21:30 Comienzo de la Cena
    * 24:00 Se abre la pista de baile

    ## Domingo 21 de Julio

    * 03:00 Salida del Minibús hacia ...
    * 05:00 Salida del Minibús hacia ...


%section.content

  %h1.alt Guía de Asturias

  :markdown

    Asturias es una tierra maravillosa, famosa por su gente, sus paisajes y su gastronomía. Aunque nosotros hayamos
    hecho un plan de visitas, aquí hay algunas actividades que os pueden gustar:

    * El [desfiladero de Los Beyos](http://es.wikipedia.org/wiki/Desfiladero_de_Los_Beyos) es un rincón rural bonito pero poco frecuentado por turistas.
    * En Asturias hay muchas actividades al aire libre; desde rutas por la montaña hasta recorridos en quad.

    Planes con niños:

    * Cerca de Cangas de Onís está [La grandera](), una reserva de animales.
    * El [Museo de Arte Jurásico de Asturias (MUJA)](http://www.museojurasico.com/) suele atraer a los niños.
    * En Cudillero hay un [Aula del Mar](http://www.cudillero.org/turismo-rural-alojamientos/cultura/aula-didactica-los-pixuetos-y-la-mar_603_33_656_0_1_in.html),
      reproducciones de peces y actividades didácticas para niños.
    * En Oviedo os puede gustar visitar el [Palacio de los Niños](http://www.palaciodelosninos.com/).
    * También hay varias empresas que organizan actividades al aire libre: paseos a caballo, tirolinas, etc.


.grid
  .grid__item.one-whole>
    .vignette
      = image_tag "boda.jpg"
%p
  %a.splash(href="/") Volver al cómic


